<script type='text/javascript'>
$(function() {
Dashing.gridsterLayout('[{"col":2,"row":2,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":1},{"col":1,"row":1,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":2,"size_y":1},{"col":3,"row":2,"size_x":1,"size_y":1},{"col":4,"row":2,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":2},{"col":2,"row":3,"size_x":2,"size_y":1}]')
Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 4
});
</script>

<% content_for :title do %>1080p dashboard<% end %>

<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="lastBuild" data-view="Text" data-addclass-redb="RedBuild" data-addclass-greenb="GreenBuild" data-title="Latest build" data-text="This is your shiny new 1080p dashboard."></div>
    </li>



  </ul>
  <!-- <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center> -->
</div>
