.gmake-bg {
    background-color: #559955;
}

.ea-bg {
    background-color: #995599;
}

.gmake-build {
    background-color: #559955;    
}

.ea-build {
    background-color: #995599;    
}

.build-bg {
    background-color: #444444;
}

.test-bg {
    background-color: #aaaaaa;
}

.gmake-test {
    background-color: #77bb77;
}

.ea-test {
    background-color: #bb77bb;   
}