.elapsed {
    background-color: #aaaaaa;
}

.gmake-bg {
    background-color: #00a99d;
}

.ea-bg {
    background-color: #01b4ec;
}

.gmake-build {
    background-color: #00a99d;
}

.ea-build {
    background-color: #01b4ec;    
}

.google-test {
    background-color: #00a99d;
}

.ea-test {
    background-color: #01b4ec;   
}


