<link rel="stylesheet" href="/assets/ec.css">
<div class="gridster">
    <ul>
        <li data-row="1" data-col="1" data-sizex="6" data-sizey="4">
            <div data-id="test-prog1" data-title="Test Progress" data-text="" data-view="ProgressBars"></div>
        </li>
        <li data-row="1" data-col="1" data-sizex="6" data-sizey="2">
            <div data-id="test-elapsed1" data-title="Test Elapsed" data-text="Started at" data-view="Elapsed"></div>
        </li>
    </ul>
</div>